
.columnContainer {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.toolsContainer {
  .columnContainer;
  width: 250px;
  border-right: 2px solid black;
}

.toolsHeader {
  .toolsContainer;
  border-bottom: 2px solid black;
}

.toolsFooter {
  .toolsContainer;
  padding-top: 0;
}

.recordImg {
  width: 25px;
  height: 25px;
}

.materialNaming {
  text-transform: capitalize;
}
