html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin-block-start: 5px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  display: flex;
  flex-direction: row;
}

.detailsContainer {
  padding: 20px;
}
