body {
    margin: 0;
}

.App {
  /*text-align: center;*/
}

.container {
    display: flex;
    flex-direction: column;
}

.toolsContainer {
    padding: 20px;
    border-right: 5px solid red;
}

.toolsHeader {
    .toolsContainer;
    border-bottom: 5px solid red;
}
