.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 4px;
}

.labeledCircle.small {
  height: 50px;
  width: 50px;
}

.labeledCircle.medium {
  height: 60px;
  width: 60px;
}

.labeledCircle.large {
  height: 80px;
  width: 80px;
}

.labeledCircle {
  .circle;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  color: white;
}

.activeCircle:hover {
  border: solid 3px black;
  margin: 1px;
}

.palateContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 115px;
  overflow: auto;
}
